#map-canvas {
    overflow: visible;
}

#map-canvas .l-train {
    stroke: black;
    stroke-width: 4;
    fill: none;
}

#map-canvas .train {
    fill: red;
}

#map-wrapper {
    transform: scaleY(-1);
    width: 1000px;
}

.station {
    fill: blue;
}
